.example-card {
    max-width: 400px;
    border: 1px solid #CFD8DC;
    border-radius: 4px 3px 6px / 2px 4px;
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin: 5px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-tab-group {
    margin-bottom: 48px;
}

table {
    width: 100%;
}

.mat-card-title {
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 15px;
    margin-bottom: 0px;
    min-height: 70px;
}

.mat-card-image {
    max-width: 380px;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin: 3px;
}